# --- theme	---	---	---	---	---	---	---	---	---
theme.digitaladapt.com {
	log {
		output file /data/logs/theme.log
	}
	# use custom error page
	handle_errors {
		rewrite /404.html
		file_server
	}

	root /data/theme
	file_server {
		hide .git*
		hide Caddyfile
		hide Domainfile
	}
}

