<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />

{%- seo -%}
{%- feed_meta -%}
{%- if site.google_analytics -%}
  {%- include google-analytics.html -%}
{%- endif -%}

<!-- Begin Icons, thanks to https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ '/android-chrome-192x192.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | relative_url }}">
<link rel="manifest" href="{{ '/site.webmanifest' | relative_url }}">
<link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | relative_url }}" color="#718BAC">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="application-name" content="{{ site.title }}">
<meta name="msapplication-TileColor" content="#926A9B">
<meta name="theme-color" content="#926A9B">
<!-- End Icons -->

{%- if site.matomo_url -%}
  {%- include matomo.html -%}
{%- endif -%}

{%- if site.custom_head_html -%}
  {{ site.custom_head_html }}
{%- endif -%}
