{%- if include.posts and include.posts.size > 0 -%}
  <section id="articles" class="">
    <div class="container">
      {%- if page.list_title -%}
        <h3>{{ page.list_title | capitalize }}</h3>
      {%- endif -%}
      <div class="features">
        {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
        {%- for post in include.posts -%}
          <article>
            {%- if post.banner -%}
              <a href="{{ post.url | relative_url }}" class="image">
                <img src="{{ post.banner }}" alt="">
              </a>
            {%- endif -%}
            <div class="inner">
              <h4><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h4>
              <div>{{ post.date | date: date_format }}</div>
              {%- if site.show_excerpts -%}
                {{ post.excerpt }}
              {%- endif -%}
            </div>
          </article>
        {%- endfor -%}
      </div>
    </div>
  </section>
{%- endif -%}
